<template>
	<div id="life_body">
		<button class="button_life" @click="decrease_lifetotal()"><span class="material-icons">
				add
			</span></button>
		<div class="div_life">
			<h2>{{life_total}}</h2>
		</div>
		<button class="button_life" @click="increase_lifetotal()"><span class="material-icons">
				add
			</span></button>
	</div>
</template>

<script>
	export default {
		name: "life_counter",
		data: function() {
			return {
				life_total: 20
			};
		},
		methods: {
			increase_lifetotal() {
				this.life_total += 1;
			},
			decrease_lifetotal() {
				this.life_total -= 1;
			}
		}
	};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
	#life_body {
		display: flex;
		justify-content: space-around;
		align-content: stretch;
		height: 100%;
	}
	.button_life {
		width: 30%;
		background-color: transparent;
	}
	.div_life {
		width: 40%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	h2 {
		font-size: 15vw;
	}
</style>
