<template>
	<div id="player_body">
		<life_counter />
	</div>
</template>

<script>
	import life_counter from "./life_counter.vue";
	export default {
		name: "player_body",
		components: {
			life_counter,
		},
		data: function() {
			return {
				life_total: 0
			};
		},
	};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
	h3 {
		margin: 40px 0 0;
	}
	ul {
		list-style-type: none;
		padding: 0;
	}
	li {
		display: inline-block;
		margin: 0 10px;
	}
	a {
		color: #42b983;
	}
	#player_body {
		height: 100%;
	}
</style>
