<template>
	<div class="hallo" id="app">
		<div class="player_div">
			<player_body />
		</div>
		<div class="player_div">
			<player_body />
		</div>
	</div>
</template>

<script>
	import player_body from "./components/player_body.vue";

	export default {
		name: "App",
		components: {
			player_body,
		},
	};
</script>

<style>
	html,
	body {
		height: 100%;
		margin: 0px;
		padding: 0px;
	}
	@font-face {
		font-family: "Material Icons";
		font-display: block;
		src: url(./assets/material-icons.woff2) format("woff2");
	}
	.material-icons {
		font-size: 6vw;
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: Material Icons, sans-serif;
		font-style: normal;
		-webkit-font-feature-settings: "liga";
		-webkit-font-smoothing: antialiased;
	}
	#app {
		font-family: Avenir, Helvetica, Arial, sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-align: center;
		box-sizing: border-box;
		color: #2c3e50;
		padding: 20px;
		height: 100%;
	}
	.player_div {
		height: 50%;
	}
</style>
